$primaryBackgroundColor : #FBFBFB;
$secondBackgroundColor : #FFFFFF;
$footerBackgroundColor : #FFFFFF;
$fontColour : #333333;
$fontLinkColour : #7f7f7f;
$fontLinkHoverColour : #444444;
$fontFooterColour : #959595;

body{
  background-color: $secondBackgroundColor;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  color: $fontColour;
  font-size: 16px;
}

a{
  color: $fontLinkColour;
  text-decoration: none;
  &:hover{
    color: $fontLinkHoverColour;
    text-decoration: none;
  }
}

::selection {
    color: $secondBackgroundColor;
    background: $fontColour;
}

header#sidebar{
  width: 25%;
  height: 100%;
  position: fixed;
  background-color: $primaryBackgroundColor;
  nav.navbar{
    flex-flow: wrap;
    h1.website-name{
      font-size: 1em;
      text-transform: uppercase;
      letter-spacing: .15em;
      padding: 8em 20% 0 35%;
      margin: 0;
    }
    ul.navbar-nav{
      padding: .8em 20% 0 35%;
      flex-direction: column;
      li.nav-item{
        a.nav-link{
          display: block;
          padding: .5em 0 !important;
          font-size: .9em;
          &.active{
            color: $fontLinkHoverColour !important;
          }
        }
      }
    }
  }
}

p.text{
  font-size: .9em;
}

main#wrapper{
    width: 75%;
    float: right;
    display: block;
    background: $secondBackgroundColor;
    margin-top: 6.8em;
}

section#introduction{
  position: relative;
  margin-bottom: 2em;
  img.profile{
    position: absolute;
    z-index: 1;
  }
  div.topic{
    text-align: right;
    h2.introduce{
      float: right;
      text-transform: uppercase;
      width: 6em;
      font-size: 2em;
      margin-bottom: .6em;
    }
  }
  div.box{
    background-color: $primaryBackgroundColor;
    padding: 2em;
  }
}

footer#copyright{
    width: 75%;
    float: right;
    display: block;
    background-color: $footerBackgroundColor;
    color: $fontFooterColour;
    border-top: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 -1px 1px rgba(255,255,255,.5);
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    padding: 1.2em 0;
    margin-top: 6.8em;
    font-size: .9em;
    text-align: center;
}

@media screen and (max-width: 991px) {
  header#sidebar{
    nav.navbar{
      h1.website-name{
        padding: 8em 0 0 16%;
      }
      ul.navbar-nav{
        padding: .8em 0 0 16%;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  %fullWidth{
    width: 100%;
    float: none;
  }
  header#sidebar{
    position: relative;
    width: 100%;
    height: auto;
    padding: 1em;
    h1.website-name{
      font-size: 1.2em !important;
      padding: 0 !important;
    }
    ul.navbar-nav{
      padding: .8em 0 !important;
      li.nav-item{
        border-top: 1px solid rgba(0,0,0,.1);
        &:first-child{
          border-top: 0;
        }
        a.nav-link{
          padding: .6em 0 !important;
          font-size: 1em !important;
        }
      }
    }
  }
  main#wrapper{
      @extend %fullWidth;
      padding-top: 2em;
      margin-top: 0;
  }
  section#introduction{
    margin-bottom: 0;
    img.profile{
      position: relative;
      margin-bottom: 2em;
    }
    div.topic{
      text-align: left;
      h2.introduce{
        width: 100%;
        font-size: 1.4em;
      }
    }
    div.box{
      background-color: $secondBackgroundColor;
      padding: 1em 0;
    }
  }
  footer#copyright{
      margin-top: 2em;
      @extend %fullWidth;
  }
}
